
.login-box {
    background: linear-gradient(135deg, #d4d0aa, #b3a185, #cdc3bd);
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    min-width: 500px;
    color: #333; /* Ensures text remains readable */
  }
  
  .login-box h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .input-group input,
  .input-group select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .input-group input:focus,
  .input-group select:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0 0 3px rgba(74, 144, 226, 0.5);
  }
  
  .login-btn,
  .register-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    
  }
  
  /* Login Button Style */
  .login-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #555;
    color: #000;
  }
  
  /* Register Button Style */
  .register-btn {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
  }
  
  .register-btn:hover {
    background-color: #ccc;
  }
  
  
  .login-box p {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
  }
  
  .login-box p a {
    color: #302222;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-box p a:hover {
    text-decoration: underline;
  }

  .error-message {
    color: #ff0000;
  }

  .error {
    color: #ff0000;
  }