/* General Page Styling */

  
.admin-police-stations {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 30px;
  font-weight: bold;
}

.add-button {
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #ccc;
}

.stations-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.stations-table th,
.stations-table td {
  padding: 10px;
  text-align: left;
}

.stations-table th {
  background-color: #e5e2e2;
  color: #333;
  font-weight: bold;
}

.stations-table tr:hover {
  background-color: #f1f1f1;
}

.stations-table td {
  color: #555;
}

.edit-button,
.delete-button {
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button {
  background-color: #555;
  color: #fff;
  margin-right: 5px;
}

.edit-button:hover {
  background-color: #ccc;
}

.delete-button {
  background-color: #555;
  color: #fff;
}

.delete-button:hover {
  background-color: #ccc;
}

/* Add smooth hover effect for table rows */
.stations-table tr {
  transition: background-color 0.2s ease-in-out;
}

/* For additional form styling */
.form-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.form-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-container form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.form-container form input {
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.submit-button,
.cancel-button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button {
  background-color: #555;
  color: #fff;
}

.submit-button:hover {
  background-color: #ccc;
}

.cancel-button {
  background-color: #6c757d;
  color: #fff;
}

.cancel-button:hover {
  background-color: #5a6268;
}

.error {
  color: red;
  font-size: 12px;
}
