body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #232D3F;
}

.navbar {
  background-color: #695242;
  color: white;
  padding: 10px 20px;
  text-align: start;
  margin-top: auto;
  justify-content: flex-start;


}

.navbar .title {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.nav-links a:hover {
  text-decoration: underline;
}
.welcome-container {
  display: flex;                /* Use Flexbox for centering */
  flex-direction: column;       /* Stack the heading and paragraph vertically */
  justify-content: center;      /* Center vertically */
  align-items: center;          /* Center horizontally */
  height: 100vh;                /* Full viewport height */
  text-align: center;           /* Center-align the text */
  background-color: #232D3F;    /* Optional: Add a background color */
  color: white;               /* Dark navy blue text color */
  
}


.welcome-container h1 {
  font-size: 2.5rem;            /* Adjust heading size */
  margin-top: 4%;
  text-align: center;
  justify-content: center;
  font-size: 4.2rem;            /* Adjust paragraph size */
  justify-content: flex-start;
  justify-self: start;
  align-self: center;
  justify-content: space-between;
  margin: 0cm;

 
}
@media (max-width: 768px) {
  .welcome-container h1 {
      font-size: 2rem;
  }

  
  }
